.title:hover{
    transform: scale(1.05);
}

.svg-icon {
    fill: #ffffff;
}

.svg-mail-icon{
    stroke: #ffffff;
}

.groupOne:hover .svg-icon{
    fill: #000;
}

.groupTwo:hover .svg-mail-icon{
    stroke: #000;
}


.groupThree:hover .svg-icon {
    fill: #000;
}

.groupFour:hover .svg-icon{
    fill: #000;
}
