/* @font-face {
    font-family:'Lato';
    src: url('../../../../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-style: italic;
} */
  
.custom{
    font-family: 'Lato', sans-serif;
    font-family: cursive;
}