<div class="flex flex-col m-auto w-[50%] overflow-y-auto">
    <div class="flex items-center gap-10 mt-10">
        <img class="border-2 shadow-1xl rounded-2xl h-auto w-44" src="../../../../assets/fotodeperfil(fondo blanco).png" alt="profilePicture">
        <div class="h-auto p-5 rounded-2xl shadow-xl bg-yellow-100">
            <h1 class="text-4xl font-bold py-2">Full Stack Web Developer</h1>
            <h1 class="text-2xl font-medium py-2">Lorenzo Martin Del Hoyo</h1>
            <p class="font-light">
                Hello and thanks for checking out my portfolio! I'm dedicated about creating innovative solutions through web application development. With a sharp attention to detail and a commitment to excellence, I aim to craft digital experiences that not only meet but exceed expectations.
            </p>
        </div>
    </div>
    <div class="flex justify-around items-center my-8 p-5 rounded-2xl shadow-xl bg-yellow-100">
        <mat-icon class="">near_me</mat-icon>
        <h1 class="text-2xl font-bold">Mar del Plata Argentina</h1>
        <img class="rounded-md h-20" src="../../../../assets/argentinaFlag.png" alt="argentinian flag"/>
    </div>
</div>

