@font-face {
    font-family:'Lato';
    src: url('../../../../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-style: italic;
}
  
.custom{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.050rem;
}

.custom-text{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.050rem;
    font-weight: 500;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.custom-grid > * {
    max-width: 100%; /* Evita que los elementos se desborden */
}

@media (max-width: 1200px){
    .firstContainer{
        flex-direction: column-reverse;
    }
    .firstContainer .image{
        width: 100%;
        height: 50%;
    }
    .container{
        flex-direction: column;
    }
    .container .image{
        width: 100%;
    }
}